.vt323-regular {
  font-family: "VT323";
  font-weight: 400;
  font-style: normal;
}
body{
    font-family: "VT323";
    background-color: #000000;
    color: #c5b9b9
    
}
.menu a{
   font-size: 32px; 
}
p{
        line-height: 1.5;
        font-size: 24px;
}

.site-init{
    background-color: #d68f0a4f;
    color: #c5b9b9;
    text-align: center;
}

.menu a{
    background-color: #3deb5a;
    margin: right 10px;
}
#read-more{
    border: 2px solid #c5b9b9;
    background-color: #000000;
    text-decoration: none;
    color: #c5b9b9;
    font-size: 24px;
    text-transform: uppercase;
}
#read-more:hover {
    background-color: #c5b9b9;
    color: #000000
}   
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.image-1{
    max-width: 125px;
}
.image-2{
    max-width: 250px;
}
.image-3{
    max-width: 250px;
    max-height: 200px;
}
form{
  background-color: #000000;
  padding: 20px;
  width:50%;  
  margin: 30px auto;
}
form h4{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}
input, textarea{
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid black;
}
select{
    width: 90%;
}
label{
    display: block;
    margin-top: 10px;
}
button{
    background-color:#c5b9b9;
    color: #000000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}